/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

.acas4u-download-file-meta {
	margin: 0 0 15px 0;
}

.acas4u-album-mediumimage {
	display: inline-block;
	/*min-width: 200px;*/
	margin: 5px 25px 5px 0;
	vertical-align: top;
}

.acas4u-album-details {
	vertical-align: top;
	display: inline-block;
}

.acas4u-album-details-row {
	clear: both;
}

.acas4u-label {
	display: inline-block;
	width: 150px;
	margin: 0 25px 5px 0;
	font-weight: bold;
}

.acas4u-descr {
	display: inline-block;
	margin: 0 0 5px 0;
}

/* single acapella page grid */

.acas4u-row {
	clear: both;
	margin: 5px 0;
	overflow: hidden;
}

.acas4u-column-fluid {
	display: block;
	float: left;
}

.acas4u-content-section {
	padding: 10px;
}

.artist-info {
	width: 335px;
}

.track-preview {
	width: 800px;
}

.track-rating-download {
	width: 800px;
}

.acapella-details,
.acapella-popular,
.acapella-latest {
	margin-right: 30px;
	width: 350px;
}

.acapella-best,
.acapella-similar-genre,
.acapella-similar-artists {
	width: 380px;
}

.l-section-nopadding {
	padding: 0;
}

.acas4u-artist-info-wrapper {
	clear: both;
	overflow: hidden;
}

.acas4u-artist-image {
	float: left;
	width: 130px;
	margin-right: 15px;
}

.acas4u-artist-styles-wrapper {
	float: left;
	width: 170px;
}

.acas4u-artist-styles {
	font-size: 12px;
	line-height: 1.25;
	clear: both;
}

.acas4u-download-author {
	font-size: 12px;
	margin: 5px 0;
}

.acas4u-artist-bio {
	line-height: 1.25;
	font-size: 12px;
}

.acas4u-artist-bio-url {
	margin: 5px 0;
}

.acas4u-track-waveform {
	height: 200px;
	width: 100%;
}

.peaks-audio {
	float: left;
	margin: 6px 15px 0 0;
}

.acas4u-track-preview-control {
	padding: 5px !important;
	display: inline-block !important;
	font-size: 10px !important;
	font-weight: normal;
}

.info-bar {
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	padding: 0;
	overflow: hidden;
	height: 48px;
	margin: 0 10px;
	display: table;
	width: 100%;
}

.acas4u-info-bar-item {
	width: 20%;
	display: table-cell;
	text-align: center;
	box-sizing: border-box;
	line-height: 48px;
	height: 48px;
	border-right: 1px solid #666666;
	-webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
	-o-transform: skew(-45deg);
	transform: skew(-45deg);
}

.acas4u-info-bar-item.ib-last {
	border-right: 0 none;
}

.ib-item-wrapper {
	-webkit-transform: skew(45deg);
	-moz-transform: skew(45deg);
	-o-transform: skew(45deg);
	transform: skew(45deg);
}

.ib-border {
	border-right: 1px solid #666666;
	display: block;
	float: left;
	height: 70px;
	margin-right: 50px;
	transform: rotate(45deg) translate(-20px, -20px);
	width: 48px;
}

.w100p {
	width: 100%;
}

.ib-downloads {
	margin: 0 0 0 40px;
	padding: 0;
}

.ib-votes {
	margin: 0 10px 0 0;
	padding: 0;
}

.ib-comments {
	margin: 0 20px 0 0;
	padding: 0;
}

.ib-bpm {
	margin: 0 20px 0 0;
	padding: 0;
}

.ib-date {
	margin: 0 20px 0 0;
	padding: 0;
}

.detail-label {
	min-width: 150px;
	display: inline-block;
}

.acapella-popular-wrapper {
	display: table;
	width: 100%;
	margin: 0 0 10px 0;
}

.acapella-popular-row {
	display: table-row;
}

.pp-cell {
	display: table-cell;
	vertical-align: top;
}

.popular-post-title {
	width: 85%;
}

.popular-post-downloads {
	width: 15%;
	text-align: right;
}

.acapella-latest-wrapper {
	display: table;
	width: 100%;
}

.acapella-latest-row {
	display: table-row;
}

.lt-cell {
	display: table-cell;
	vertical-align: top;
}

.latest-post-title {
	width: 70%;
}

.latest-post-added {
	width: 15%;
}

.latest-post-downloads {
	width: 15%;
	text-align: right;
}

/* user rating */

.acas4u-user-rating-wrapper {
	overflow: hidden;
}

.acas4u-user-ratings {
	font-weight: 400;
}

.acas4u-user-ratings-stars {
	font-size: 16px;
}

.acas4u-ratings-single-star {
	color: #222222;
	padding: 1px;
}

.acas4u-ratings-single-star:hover {
	color: #ffc62b;
}

.acas4u-user-ratings-stars .fa-star,
.acas4u-user-ratings-stars .fa-star-o,
.acas4u-user-ratings-stars .fa-star-half-o {
	color: #ffc62b;
}

.acas4u-ratings-average-votes,
.acas4u-ratings-total-votes {
	font-weight: 600;
}

.acas4u-user-rating-total {
	margin: 5px 0;
}

.ur-post-position {
	font-weight: bold;
}

.ur-post-total {
	font-weight: bold;
}

.download-button-container {
	padding: 0 0 0 60px;
}

.download-button-wrapper {
	display: inline-block;
	border: medium none;
	border-radius: 5px;
	margin: 5px 0;
	overflow: hidden;
	padding: 11px 28px;
	transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 0;
	background-color: #c0c0c0;
}

.download-button-enabled {
	background-color: #F9A02C;
}

.download-button-label {
	font-size: 20px;
	font-weight: bold;
}

.download-button-icon {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	padding: 0 20px 0 0;
}

.download-button-text {
	display: table-cell;
	vertical-align: middle;
	padding: 0 5px;
	color: #ffffff;
	text-align: center;
}

.acas4u-highlignt {
	display: block;
	border-radius: 0 20px 20px 20px;
	margin: 5px 0;
	overflow: hidden;
	padding: 5px 10px;
	transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, color 0.3s ease 0s;
	z-index: 0;
	border: 1px solid #F9A02C;
}

.acapella-pack-item {
	float: left;
	margin: 0 20px 20px 0;
	width: 140px;
	height: 140px;
}

.acapella-similar-bpm-item {
	float: left;
	margin: 0 20px 20px 0;
	width: 140px;
	height: 140px;
	position: relative;
	box-sizing: border-box;
}

.acapella-similar-bpm-title {
	z-index: 110;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	text-align: center;
	line-height: 1.25;
}

.similar-header {
	min-height: 80px;
}

.acapella-similar-artist-item {
	float: left;
	margin: 0 20px 20px 0;
	width: 140px;
	height: 140px;
	position: relative;
	box-sizing: border-box;
}

.acapella-similar-artist-title {
	z-index: 110;
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	text-align: center;
	line-height: 1.25;
}

.acas4u-popular-download-result-wrapper {
	width: 100%;
}

.acas4u-popular-download-result-wrapper th {
	border-bottom: 2px solid #ccc;
}

.acas4u-popular-download-result-wrapper.stacktable .st-head-row {
	border-top: 2px solid #ccc;
}

.acas4u-popular-download-row {

}

.pd-cell-title {
	color: #000000;
}

.pd-cell-title {
	font-weight: bold;
	padding: 5px;
	white-space: nowrap;
}

.pd-cell {
	padding: 3px 6px;
	border-bottom: 1px solid #ccc;
}

.acas4u-popular-download-result-wrapper.stacktable .pd-cell {
	padding: 3px 6px;
	border-bottom: 0 none;
}

.pd-key2,
.pd-size,
.pd-rating {
	white-space: nowrap;
}

.acas4u-search-results.stacktable .st-head-row {
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
}

.ads-300x250 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 3em;
	width: 300px;
	height: 250px;
	background-color: #cfcfcf;
}

/* logs */

.acas4u-log-table th {
	border-bottom: 2px solid #ccc;
}

.acas4u-log-table th,
.acas4u-log-table td {
	padding: 5px 10px;
}

.td-log-date,
.td-log-bitrate,
.td-log-size,
.td-log-duration,
.td-log-added,
.td-log-rating {
	white-space: nowrap;
}

/* user profile tabs */

ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px !important;
	cursor: pointer;
	margin: 0;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	border-top: 2px solid #dddddd;
	padding: 15px 0;
}

.tab-content.current {
	display: inherit;
}

/* search results */

/* zebra styling */
tbody tr:nth-child(odd) {
	background-color: #f0f0f0;
}

.acas4u-downloads-search-wrapper {
	margin: 10px 0;
}

.acas4u-downloads-search-wrapper .g-preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -20px 0 0 -20px;
	opacity: 0;
	transition: opacity 0.3s;
}

.acas4u-downloads-search-wrapper.loading .g-preloader {
	opacity: 1;
}

.acas4u-downloads-search-wrapper.loading .acas4u-search-results {
	opacity: 0.1;
}

.acas4u-search-th .acas4u-search-td {
	font-weight: bold;
	white-space: nowrap;
}

.acas4u-search-td {
	padding: 5px 10px;
}

.td-rating {
	white-space: nowrap;
}

#acas4u-download-search-result .l-content {
	width: 100% !important;
}

.acas4u-sf-row {
	clear: both;
	margin: 0 0 15px 0;
}

.acas4u-sf-col {
	display: inline-block;
	padding: 3px;
}

.acas4u-sr-query {
	vertical-align: top;
	width: 70%;
}

.acas4u-sr-button {
	vertical-align: top;
}

.acas4u-sr-button a {
	display: inline-block;
	margin-left: 15px;
}

.acas4u-sf-search-field {
	margin: 7px 0;

}

.acas4u-sr-header {
	margin: 0;
}

.acas4u-sr-results {
	margin: 0;
	color: #444444;
	font-size: 26px;
}

.acas4u-sr-condition {
}

.acas4u-sr-found {
	margin: 0 0 0 15px;
	font-size: 20px;
}

.acas4u-sf-col label {
	display: block;
	clear: both;
}

.acas4u-sf-inline {
	display: inline-block;
	margin: 0 10px 0 0;
}

.w100px {
	width: 100px;
}

.w50px {
	width: 50px;
}

.w50pc {
	width: 49.5%;
}

.w75pc {
	width: 74.5%;
}

.w70pc {
	width: 69.5%;
}

.w30pc {
	width: 29.5%;
}

.w25pc {
	width: 24.5%;
}

#acas4u-download-search-result {
	padding-top: 120px;
}

.acas4u-sr-border {
	border-bottom: 1px solid #666666;
}

.acas4u-sr-header h3 {
	margin: 0;
	padding: 10px 0 0 !important;
}

.acas4u-sf-radiobutton input {
	margin-top: -1px;
	vertical-align: middle;
}

.acas4u-sf-radiobutton {
	display: inline-block;
	margin: 0 10px 0 0;
}

.acas4u-disabled {
	color: #999999;
}

.tablesorter-default {
	font-size: 14px;
	font-family: "Open Sans", sans-serif !important;
	color: #666666 !important;
}

.acas4u-sinple-bottom-link {
	font-size: 16px;
}

@media (max-width: 1140px) {
	.acas4u-browse-artists .tablesorter-default {
		font-size: 12px;
	}

	.acas4u-browse-artists .l-sidebar,
	.acas4u-browse-artists .l-content {
		float: none !important;
		width: 100% !important;
	}
}

/* -------------------- tooltips -------------------- */

/* bootstrap style tooltips */
[data-tooltip] {
	display: inline-block;
	position: relative;
	cursor: help;
	/*padding: 4px;*/
}

/* Tooltip styling */
[data-tooltip]:before {
	content: attr(data-tooltip);
	display: none;
	position: absolute;
	background: #F9A02C;
	color: #ffffff;
	padding: 4px 8px;
	font-size: 12px;
	line-height: 1.4;
	min-width: 200px;
	text-align: center;
	border-radius: 4px;
}

/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before {
	left: 50%;
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

[data-tooltip-position="top"]:before {
	bottom: 100%;
	margin-bottom: 5px;
}

/* Tooltip arrow styling/placement */

[data-tooltip]:after {
	content: '';
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after {
	left: 50%;
	margin-left: -6px;
}

[data-tooltip-position="top"]:after {
	bottom: 100%;
	border-width: 6px 6px 0;
	border-top-color: #F9A02C;
}

/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	display: block;
	z-index: 50;
}

/* -------------------- end tooltips -------------------- */

/* -------------------- start of file uploader and progress bar -------------------- */

.acas4u-uploader-file-wrapper {
	clear: both;
	margin: 5px 0;
	border: 2px solid #F9A02C;
}

.acas4u-uploader-file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.acas4u-uploader-file-label {
	color: #ffffff;
	background-color: #F9A02C;
	display: inline-block;
	cursor: pointer;
	font-size: 15px;
	line-height: 20px;
	padding: 14px 15px;
	font-weight: 400;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	width: 42px;
	overflow: hidden;
	white-space: nowrap;
	height: 100%;
	vertical-align: top;
}

.acas4u-uploader-file-label:hover {
	width: 170px;
}

.acas4u-uploader-reset-button .fa,
.acas4u-uploader-file-button .fa,
.acas4u-uploader-file-label .fa {
	margin-right: 15px;
}

.acas4u-uploader-file-input:focus .acas4u-uploader-file-label,
.acas4u-uploader-file-label:hover {
	/*background-color: #6254a8;*/
}

.acas4u-uploader-file-name {
	color: #F9A02C;
	font-size: 13px;
	line-height: 20px;
	padding: 13px 0 13px 5px;
	display: inline-block;
	vertical-align: top;
	width: 220px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.acas4u-uploader-data {
	display: none;
	transition: all 0.3s ease 0s;
}

.acas4u-uploader-file-artist1-wrapper,
.acas4u-uploader-file-trackname-wrapper,
.acas4u-uploader-file-featuring-wrapper,
.acas4u-uploader-file-type-wrapper {
	vertical-align: top;
	padding: 4px 5px;
}

.acas4u-uploader-data-input {
	width: 100px;
	transition: width .3s ease-in-out;
	-webkit-transition: width .3s ease-in-out;
	-moz-transition: width .3s ease-in-out;
}

.acas4u-uploader-data-input:focus {
	width: 200px;
}

.acas4u-uploader-file-times-wrapper {
	vertical-align: top;
}

.acas4u-uploader-progress {
	position: relative;
	width: 400px;
	background-color: #999999;
	padding: 1px;
	display: none;
}

.acas4u-uploader-progress-bar {
	background-color: #F9A02C;
	width: 0;
	height: 26px;
	border-radius: 3px;
}

.acas4u-uploader-progress-percent {
	position: absolute;
	display: inline-block;
	top: 3px;
	left: 48%;
	color: #ffffff;
}

.acas4u-uploader-button-container {
	display: inline-block;
	margin: 10px 15px 10px 0;
	vertical-align: middle;
}

.acas4u-uploader-progress-container {
	display: inline-block;
	margin: 10px 15px 10px 0;
	vertical-align: middle;
}

/* -------------------- end of file uploader and progress bar -------------------- */

/* -------------------- start of front page -------------------- */

.fp-search-bar {
	background-color: #f6f6f6;
}

.fp-info-bar {
	background-color: #fcfcfc;
}

.acas4u-fp-total-acapellas {
	display: table-cell;
	text-align: right;
	margin: 0;
	padding: 10px 10px 10px 0;
	width: 50%;
}

.acas4u-fp-total-users {
	display: table-cell;
	text-align: left;
	margin: 0;
	padding: 10px 0 10px 10px;
	width: 50%;
}

.fp-info-bar .fa {
	margin-right: 10px;
}

.acas4u-fp-total-wrapper {
	display: table;
	width: 100%;
}

.acas4u-search-input-group {
	padding: 10px;
	width: 100%;
}

.acas4u-sig-select,
.acas4u-sig-textfield {
	/*display: inline-block !important;*/
	/*box-shadow: none !important;*/
}

.acas4u-sig-select {
	/*
	border-radius: 5px 0 0 5px !important;
	border-top: 1px solid #666666 !important;
	border-bottom: 1px solid #666666 !important;
	border-left: 1px solid #666666 !important;
	*/
}

.acas4u-sig-textfield {
	padding-left: 40px !important;
	/*
	border-radius: 0 5px 5px 0 !important;
	border-top: 1px solid #666666 !important;
	border-bottom: 1px solid #666666 !important;
	border-right: 1px solid #666666 !important;
	*/
}

.acas4u-sig-label {
	position: absolute;
	top: 8px;
	left: 15px;
}

.acas4u-sig-select-wrapper {
	display: inline-block;
	width: 19%;
	position: relative;
}

.acas4u-sig-input-wrapper {
	display: inline-block;
	position: relative;
	margin: 0;
	width: 79%;
}

@media (max-width: 728px) {
	.acas4u-sig-select-wrapper {
		width: 100%;
		margin: 0 0 15px 0;
	}

	.acas4u-sig-input-wrapper {
		width: 100%;
	}
}

/* start of facebook feed styles */
.wff-facebook-feed-title-div {
	width: 200px !important;
}

.wff-author-name p {
	margin: 6px 0 !important;
	line-height: 16px;
}

.wff-fb-item {
	padding: 0 !important;
}

.widget {
	margin-bottom: 15px !important;
}

/* --- end --- */

.acas4u-main-text-header {
	font-size: 30px;
	text-align: center;
	line-height: 1.5;
}

.acas4u-main-text-subheader {
	font-size: 24px;
	text-align: center;
	line-height: 1.5;
}

.acas4u-main-text-descr {
	font-size: 14px;
	text-align: center;
	line-height: 1.3;
}

.acas4u-fp-popular-single {
	display: inline-block;
	margin: 0 20px 20px 0;
}

.acas4u-fp-popular-link {
	display: block;
	position: relative;
}

.acas4u-fp-popular-title {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	text-align: center;
}

/* latest */

.acas4u-fp-latest-single {
	display: inline-block;
	margin: 0 20px 20px 0;
	overflow: hidden;
}

.acas4u-fp-latest-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all 0.5s ease;
}

.acas4u-fp-latest-single:hover .acas4u-fp-latest-inner {
	transform: translateY(-130px);
	-webkit-transform: translateY(-130px);
	-ms-transform: translateY(-130px);
}

.acas4u-fp-latest-link {
	display: block;
	position: relative;
	text-decoration: none;
	color: #ffffff;
}

.acas4u-fp-latest-link:hover,
.acas4u-fp-latest-link:visited,
.acas4u-fp-latest-link:active,
.acas4u-fp-latest-link:focus {
	outline: none;
	color: #ffffff;
}

.acas4u-fp-latest-title {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	text-align: center;
	line-height: 1.25;
	z-index: 20;
	color: #ffffff;
}

.acas4u-fp-latest-overlay {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 0.1;
}

.acas4u-fp-latest-image {
	line-height: 0.1;
}

/* end of latest */

/* similar */

.acas4u-similar-single {
	display: inline-block;
	margin: 0 20px 20px 0;
	overflow: hidden;
}

.acas4u-similar-single.right {
	margin: 0 0 20px 0 !important;
}

.acas4u-similar-inner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all 0.5s ease;
}

.acas4u-similar-single:hover .acas4u-similar-inner {
	transform: translateY(-130px);
	-webkit-transform: translateY(-130px);
	-ms-transform: translateY(-130px);
}

.acas4u-similar-link {
	display: block;
	position: relative;
	text-decoration: none;
	color: #ffffff;
}

.acas4u-similar-link:hover,
.acas4u-similar-link:visited,
.acas4u-similar-link:active,
.acas4u-similar-link:focus {
	outline: none;
	color: #ffffff;
}

.acas4u-similar-title {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 10px;
	text-align: center;
	line-height: 1.25;
	z-index: 20;
	color: #ffffff;
}

.acas4u-similar-overlay {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 0.1;
}

.acas4u-similar-image {
	line-height: 0.1;
}

/* end of similar */

.rev_slider .slotholder:after {
	width: 100%;
	height: 100%;
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;

	/* black overlay with 50% transparency */
	background: rgba(0, 0, 0, 0.5);
}

.rev_slider .tp-caption a,
.rev_slider .tp-caption a:focus,
.rev_slider .tp-caption a:visited {
	color: #ffffff;
	text-decoration: none;
}

.rev_slider .tp-caption a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.acas4u-wl-user-logged {
	margin: 20px 0;
}

.acas4u-wl-user-logged ul li {
	font-size: 12px;
}

/* genre taxonomy styles */

.acas4u-downloads-by-genre {
	margin: 30px 0;
	overflow: hidden;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #dddddd;
}

.acas4u-dg-artist {
	display: table-row;
}

.acas4u-dg-artist-image {
	display: table-cell;
	vertical-align: top;
	padding: 0 30px 0 0;
	min-width: 150px;
}

.acas4u-dg-artist-info {
	display: table-cell;
	vertical-align: top;
	margin: 0;
}

.acas4u-dg-title {
	font-size: 24px;
	text-decoration: none;
	display: block;
}

.acas4u-dg-uploaded {
	margin: 10px 0 0 0;
}

.acas4u-dg-rating {
	margin: 10px 0 0 0;
}

.acas4u-dg-meta {
	margin: 10px 0 0 0;
	overflow: hidden;
}

.dg-item-wrapper {
	display: inline-block;
	margin: 0 15px 0 0;
}

.acas4u-dg-filename {
	margin: 0 0 5px 0;
}

.acas4u-quote-author {
	font-size: 0.75em;
	margin-bottom: 10px;
	font-weight: bold;
}

/* bbPress custom syles start */
.bbp-author-avatar img {
	border-radius: 0 !important;
}

#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
	max-width: 100% !important;
}

.bbp-custom-profile::before {
	font-family: FontAwesome;
	display: block;
	left: 1px;
	position: absolute;
	text-align: center;
	width: 14px;
}

.bbp-custom-profile {
	margin-bottom: 5px;
	padding-left: 22px;
	position: relative;
}

.bbp-custom-user-website::before {
	content: "\f0c1";
}

.bbp-custom-user-talents::before {
	content: "\f025";
}

.bbp-custom-user-inspired::before {
	content: "\f0eb";
}

.bbp-custom-user-genre::before {
	content: "\f02c";
}

.bbp-custom-user-soundcloud::before {
	content: "\f1be";
}

.bbp-custom-user-fav-website::before {
	content: "\f004";
}

.bbp-custom-user-testimonials::before {
	content: "\f118";
}

/* bbPress custom styles end */

.acas4u-input-error {
	border: 2px solid #ff0000 !important;
}

.acas4u-error {
	color: #ff0000;
}

.acas4u-bar-genres {
	margin: 0 0 30px 0;
}

.acas4u-preregister-buttons-wrapper {
	text-align: center;
}

.hidden-form {
	display: none;
}

.acas4u-rf-row {
	display: table-row;
	margin: 3px 0;
}

.acas4u-rf-col {
	display: table-cell;
}

body.search .w-blog:not(.cols_1) .w-blog-list {
	font-size: inherit !important;
}

.acas4u-all-genres-link {
	display: block;
	margin: 20px 0;
	font-size: 1.25em;
}

.acas4u-rf-col select,
.acas4u-rf-col input {
	margin-bottom: 10px;
}

.acas4u-acapellas-list li {
	margin-bottom: 0;
}

.page-template-page-upload .ruleheaders,
.acas4u-upload-page-text .ruleheaders {
	font-size: 1.5em;
	padding: 0;
	margin: 15px 0;
}

.page-template-page-upload ul,
.page-template-page-upload ol,
.acas4u-upload-page-text ul,
.acas4u-upload-page-text ol {
	margin: 0;
}

.page-template-page-upload ul li,
.page-template-page-upload ol li,
.acas4u-upload-page-text ul li,
.acas4u-upload-page-text ol li {
	margin: 0 0 0 20px;
}

.page-template-page-upload ol p,
.acas4u-upload-page-text ol p {
	padding-left: 10px;
	font-weight: bold;
	border-left: 2px dashed #5f5f5f;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.page-template-page-upload .important,
.acas4u-upload-page-text .important {
	border: 2px solid #FF8D41;
	background-color: #F9A94B;
	font-weight: normal;
	padding: 10px;
}

.acas4u-artist-downloads-list {
	margin-left: 20px;
}

.acas4u-hidden {
	display: none;
}

.acas4u-download-sharing {
	margin-top: 20px;
}

/* browse artists */

.acas4u-artists-index {
}

.acas4u-artists-index ul {
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;
}

.acas4u-artists-index-list {
	display: inline-block;
	width: 100%;
}

.acas4u-artists-index-list li {
	display: inline-block;
	text-align: center;
	font-size: 1.15em;
	margin: 0 !important;
}

.acas4u-artists-index-list li span {
	display: inline-block;
	padding: 5px 8px;
}

.acas4u-artists-index-list li.active {
	font-weight: bold;
}

.acas4u-artists-index-list li.active span {
	border-radius: 0 2px 2px 0;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	background-color: #f0f0f0;
}

.acas4u-artists-index-list-child {
	display: inline-block;
	width: 100%;
	border: 1px solid #DDDDDD;
	background-color: #f0f0f0;
}

.acas4u-artists-index-list-child li {
	display: inline-block;
	text-align: center;
	font-size: 1em;
	margin: 0 !important;
}

.acas4u-artists-index-list-child li span {
	display: inline-block;
	padding: 5px;
}

.acas4u-artists-index-list-child li.active {
	font-weight: bold;
}

.acas4u-explore-artists-wrapper {
	margin-top: 30px;
}

/*
.us_button:hover,
.us_fan_count_button:hover {
	background-color: inherit !important;
}
*/

.us_facebook {
	background-color: rgba(59, 89, 152, 0.8) !important;
}

.us_facebook:hover {
	background-color: rgba(59, 89, 152, 1) !important;
}

.us_twitter {
	background-color: rgba(0, 171, 240, 0.8) !important;
}

.us_twitter:hover {
	background-color: rgba(0, 171, 240, 1) !important;
}

.us_google,
.us_googleplus {
	background-color: rgba(217, 82, 50, 0.8) !important;
}

.us_google:hover,
.us_googleplus:hover {
	background-color: rgba(217, 82, 50, 1) !important;
}

.acas4u-widget-artists-index-list-child {
	margin: 5px 0;
	padding-left: 10px;
}

.acas4u-widget-artists-index-list li,
.acas4u-widget-artists-index-list-child li {
	margin: 0;
}

.acas4u-single-related-artists {
	margin-bottom: 15px;
}

.acas4u-single-related-artists-image {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	line-height: 0.1;
}

.acas4u-single-related-artists-link {
	font-size: 26px;
	display: inline-block;
	vertical-align: top;
}

label.acas4u-align-hor {
	display: block;
	margin-bottom: 10px;
}

input.acas4u-align-hor {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	margin-bottom: 0 !important;
}

.acas4u-search-tags {
	margin: 0 0 30px 0;
}

.acas4u-search-tags-title {
	margin: 0 0 5px 0;
	padding: 0;
}

.tag-xs {
	font-size: 14px;
}

.tag-s {
	font-size: 16px;
}

.tag-m {
	font-size: 18px;
}

.tag-l {
	font-size: 20px;
}

.tag-xl {
	font-size: 22px;
}

.tag-xxl {
	font-size: 24px;
}

.acas4u-header-donate {
	background: transparent url(img/paypal-donate-new-png.png) no-repeat 0 0;
	width: 175px;
	height: 68px;
	display: block;
}

.acas4u-floating-paypal {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.35);
	opacity: 0.25;
	z-index: 50;
}

.acas4u-floating-paypal:hover {
	opacity: 1;
}

.acas4u-footer-donate {
	background: transparent url(img/paypal-donate-new-png.png) no-repeat 0 0;
	width: 175px;
	height: 68px;
	display: block;
	float: right;
	margin: 10px 100px 10px 10px;
}

.l-footer.layout_modern .l-subfooter.at_bottom {
	padding-bottom: 150px !important;
}

/**
 * Overlay
 * -- only show for tablet and up
 */
@media only screen and (min-width: 40em) {
	.modal-overlay {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
		background-color: rgba(0, 0, 0, 0.6);
		opacity: 0;
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
		transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	}

	.modal-overlay.active {
		opacity: 1;
		visibility: visible;
	}
}

/**
 * Modal
 */
.modal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	margin: 0 auto;
	background-color: #fff;
	width: 600px;
	max-width: 75rem;
	min-height: 20rem;
	padding: 1rem;
	border-radius: 3px;
	opacity: 0;
	overflow-y: auto;
	visibility: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.modal .close-modal {
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 15px;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.modal .close-modal svg {
	width: 1.75em;
	height: 1.75em;
}

.modal .modal-content {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.modal.active {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.modal.active .modal-content {
	opacity: 1;
}

.modal.active .close-modal {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	opacity: 1;
}

.detected-icon {
	margin: 20px 0;
	text-align: center;
}

.detected-header {
	text-align: center;
}

.detected-text {
	text-align: center;
	margin: 20px 0;
}

/* head ads */

@media only screen and (max-width: 1024px) {
	#middle-center-320 {
		display: none;
	}

	#middle-right-paypal {
		display: none;
	}
}

/**
 * Mobile styling
 */
@media only screen and (max-width: 39.9375em) {
	h1 {
		font-size: 1.5rem;
	}

	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		-webkit-overflow-scrolling: touch;
		border-radius: 0;
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		padding: 0 !important;
	}

	.close-modal {
		right: 20px !important;
	}
}

/* styles for animated loader */

.acas4u-load-text {
	font-size: 1.5em;
	margin: 1em 0;
	text-align: center;
}

#loader {
	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: 150px 0 0 -75px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #3498db;
	-webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #e74c3c;
	-webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
	content: "";
	position: absolute;
	top: 15px;
	left: 15px;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-top-color: #f9c922;
	-webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
	animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg); /* IE 9 */
		transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg); /* IE 9 */
		transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(0deg); /* IE 9 */
		transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
	}
	100% {
		-webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
		-ms-transform: rotate(360deg); /* IE 9 */
		transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
	}
}
